{% extends "index.html" %}
{% set active_menu_item = 'contact' %}
{% block title %}- contact{% endblock %}
{% block content %}
    <h2>Email</h2>
    steve@steveharris.sh
    <h2>PGP Key</h2>
    <pre><code>-----BEGIN PGP PUBLIC KEY BLOCK-----
    Version: GnuPG v2

    mQENBFXWlngBCACu2iAYZUd0M6u5i65RyOU99HKHEgaHeDeC7CERZ8c5amhm6/Zk
    QRrv+yJo93+XiO9SrhlnJhVYlFENE0MhHA+LNRdnIxPECWDLxCUrZfp2A4rEUKnI
    2EPN6WK550hPSqGSi3o149FPNmnHI57DFJE5uq9BDHUloXx+u3xtHQeNZ9k1ZIu2
    gdWC7uuimLqvseNVnRHVXN9yI7dbbQXFBDi0AnuKTpLu8n69wN8RucuHHkRGiHNT
    qpPGCLs7dLux65qzv/I2Goegbf3PIiPwNXmdYWwQr5bRlctKfPoOzAWnY1FWXOiF
    cG+5zwruQ+236BX+yV4S3YUb0Tvq0QJ/+2fNABEBAAG0I1N0ZXZlIEhhcnJpcyA8
    c3RldmVAc3RldmVoYXJyaXMuc2g+iQE3BBMBCgAhBQJV1pZ4AhsDBQsJCAcDBRUK
    CQgLBRYCAwEAAh4BAheAAAoJEEas094pw91wj1EH/jqAZ7YTfkLR81yHOxKHmXNe
    0cTFxB1LPJdGbXMcVI8Vzq/hIF3PqfxgIeOAXw74ZX5W85mXG3Qrah9u//jgqCsN
    fjXztmzJNyBnUJBgXoQ5/yZH2WnihC76OUhpc8s7mJWnkZMbH/9zRxhlL8yy61EO
    8GdrZID0d6XSAZ3e7zoWAmD6M2xaTzfpwGUqTGGNVgMLVJpnACBnjH30U9GIs0mY
    XrdFMSZuMOuwiNO8wDPtjGg6i0X9HGNx2o0x94D2lMBL9YiR3t7oqKII4roaJO71
    Z1GzdCZ8AmCf7gMb1+VGVPl1IHJvANxRyoRU7gCvuEsEeQdwILOCBcw5r4K7Wnm5
    AQ0EVdaWeAEIAKCIu56JFR7OHRFFrn6ubB40jmLUf0XoYNsVg7kCXLOQCJ7gwZZT
    5hsbdNwfxRz4hTOC+nlwSiuth5Mxwx9mnbuC5CbZnK1fHm6dXOvif2O3yEiDCtwa
    t1RSJNrdkIBSbHqeqszueCwSdUrLkuQqmA+MiV6BdGbvOL2Iq0ssKROyigKuDu5N
    THmiLSU/0URmI7qI1J7ca0AqU+UBpd5nDLqjvTbvQTpM3TAZPkOSmIB8FIYqmt8m
    OgKgl6eLLE6uT2lUwRQQO4okDptR77K91lCY+vRs7U1wowvHZCxB5sTwyNjBimq6
    r7ttRpNxsj/4xxmPPJ9WX2R/SjJF6oFgVw8AEQEAAYkBHwQYAQoACQUCVdaWeAIb
    DAAKCRBGrNPeKcPdcPZ0CACFRCThFbncwru7msklVZcqAvsS+SEhP3yedKD0gPQC
    mKpJYqQTqSHVC3hAiv4hX+rquIvN798nAM4RnwmyLTUvn585UJUORiGEF5KGmCcX
    8haNoedkYkNzBDpmgVEzIVdwWVsmNl7nN1jU5EWsAcWN2O13lLr4ZVXRz6pnavGi
    7tzEwqAD55m+RQUmeQl9NF2Tcnd/NCa30mQlBV9fsQl5hsLGGnnyH43mhHhFk7KY
    N/ePtxXkA3IE7nnyC5OVmVhIIb4zQGbU+6u0L6k6wEPk3oHBsNN6ke+/Q44WZ4/w
    Jyex+eR4kw5RIkKRaP3Qy7mwMta9P8rg5w6gH3MSANuq
    =q0sU
    -----END PGP PUBLIC KEY BLOCK-----</code></pre>
{% endblock %}
