{% extends "index.html" %}
{% set active_menu_item = 'contact' %}
{% block title %}- Contact{% endblock %}
{% block content %}
    <h2>Email</h2>
    steve@steveharris.sh
    <h2>PGP Key</h2>
    <pre><code>-----BEGIN PGP PUBLIC KEY BLOCK-----
    Version: GnuPG v2

    mQINBFcdhF0BEADpVzNtRnQuQpm0bu+N4KHHb8AP6AFIG9kB0iln9S/v6JBxZbnS
    Ejdh/uOZzRJoJ7e3j8VREJBQAgXkXkuj35mpQeAF1H8ncNFfyMTn3fyyV7hLUhKD
    Ed0PSfbhh8YmbLDDEIiWVE06ky/zTtFWy+cqKXZJtz+8dAP0wibOgzKSCjLUi4Co
    EePwDwXI1lsW68ANcbli3EeFKzcBSP4q+HJLNp6lZ4OnmfLHjvljfzZXrFjP0YXM
    vE2JXDuAoVfdst8wEuSESSLf0rudkmuWezPOMY/MrLGF6d7/1dAQJnn9GXDew+j5
    w1EPtaKdXlddHqwiF3hLMHy0kY17dWJ6fyeKp8ri7vldx3gyLtosmDz5IR9EJ0Av
    vFl8DQvPbC9cstMRdYu/2TGg0f6yo2vqRIB3qG/rhh2kO/9gfB57LrmuCgKoiogG
    EZLxpOqxEScCNuS5TvwI4xa1eIV3L/8xA00gKQxziQvSShQXBgnW/yAGdCTlyhCx
    gPjzXcwiDM7gFVv1w3nwAc2wwWpfEWaFoV7ylCGGKYVvTL5OXJKSoUngKDt5epaN
    jryDm0FGUMXKvf6b4P9+J5W62LqbMKYVdn5HGFjlmC6yWUDWt94nkUXrTCQ/rn6Q
    B7h45VJOx5c8DX1mpVrRGctmHE2GyBp/cgU4CEwbxx0hmFMqZqBq+2LJtQARAQAB
    tCNTdGV2ZSBIYXJyaXMgPHN0ZXZlQHN0ZXZlaGFycmlzLnNoPokCNwQTAQoAIQUC
    Vx2EXQIbAwULCQgHAwUVCgkICwUWAgMBAAIeAQIXgAAKCRAL8PgU4mgpf/OND/sF
    8wT+Hn6kzQUuhRCvYykXS2xwmY7n//jLNZqvSyOv+BKg+MS0Mi0E1WFusmBjdcTa
    P5XQq6B/DjnqXQygkHjK0XbTu1vzgItUmbSo1Qapbn4j/oIQA8lshs12D83zp+SU
    t22b298lTCtvyoETQlwjc8d8vuF6Af8BkGs8gubNpEO/WxMlac3K5V3t6D/m2uls
    ONqurZclkj4ZgL19ShlwJit29/oiNFV2d7FtxLB5bAVZAkvSBlUfTs+kT58+zYL8
    PxJpbjLVUkuoRQzNIzk+HgYx2dvwPEVC752LWmcTnCLCS4kFh8GpRpxUuN/qD3a7
    lLQ0ZYUW834KGtbkkFaUTcBvcHoP1zXHdonTOzmP+aQUMsIWFkln/7upbi19yVHL
    wAVQeRPUZfocfylIX7OiWjjetOEkSMewiovqomPSk/ILtE0/8XHCib4RAmA3Xr+R
    V51e1S4Q+yb/Q7LIdq3b4MNsPh87K761f9ljE/VZMFR+nHClSH0AC4rhOdoDlJKy
    oaSP9iiH7Pw1W2O8JtvDYKimfVsF8qFY1KI5mEcfgJ+aBcRx6rglNJRkJEXi43yV
    fO+lVyao0TUXcme+GtWKm5Cv0faInN09Jj7VsMh/GchsR3MuGHPnOFR3V9WnlqBU
    FXVhah7869RZnxTdQJtfZbk9pRxnkeZpbMPiTD1hVLkCDQRXHYRdARAAuJI391cQ
    NBBD/yD4oSNkuoCnwDL58tgDy8wTvem56Je0uSxhM7HHYhdk3aCc54hlW0HmRJQT
    GwPnWE/Tz+U/fUgpD+35ZsFKBe6aK7jcDCdWbKxY7wEzGd4ae4iKHsitDM8hxxF9
    ojiCgjS/kdTP0bf0Quz51E8s1Zro9kcYD61JYemNxPXMOxLzQqJ+XSm1Qf+UR27y
    USxz+8mdILYWxXVfiZ1wWrdweJN5dk05EDHcKi4X8VG57fcqFLf+PsMBW1kF6n2g
    tZviFf7+t+e8fQh9fNOuFN8Mh2lV49xyu55m0d/ohKw4JPmnL5cEBxDxRLLtUO7o
    R5IhYBFKeh5unQvRMhgF4UKIaSxBDI+HnhPu0QXGYVTJJD+fLzIw3iYG8xmydVlJ
    Ux5flNMjgTSE6LjSp+NDuH3HBqXfRcOa9tPfVhAuvTFSClXZRoa0Wkdfc9++Z5No
    Skb/DHuQUOl8KjGh58G+JE8NTUwzLTZPlfr39a9gur3xd3oJrP1XiN2WE5rvSLQh
    MXuHPCkLDl7Q9YEigWhSGxOv3PfsyfTuFmQu/+onERt4PTIy7Y10pMk7aAP4i8RP
    dLitCYmtGJzuFDqSNEQuHuPj6PJgrqlCHJTdg75GmxjyCL57UDk+GKcyM7Jhpi7L
    3I52r54M2rEQ3oouPLi+Cb1dUMpfJQaAwxsAEQEAAYkCHwQYAQoACQUCVx2EXQIb
    DAAKCRAL8PgU4mgpf/SED/9GmknD4MCMRSK4Qjt2j4+Zp/9/8U0VEhzBK0XIRVx+
    cWIQPKQIL/sComwND+kW3rKLh3d9BtHjAsQCFlOkPASPR/xohF9m+kiKkjQfYigZ
    YwG8CbeqRjUvu6lO06CrqXSsXRSfd1VBFbR8wMLvAVXmU0BMxQnxhUXvZ8XBzZYm
    n9C8KgxAIl4vf9I1D4RHWRNEzY/mXWPqODhR9xyzaV3fKSndBQLetexXeFlMVoKP
    XjfRAUPElco4NAhpSwQlcvSAw1ilr3Sgm8uxvDG4pSibscnOswgVeaWIvLE0nH4y
    ILbIDJYpdPP9zKhRm583Xok9iStihT3DjBnuNdURcPiY67hO8ujaslHKJro0dNCN
    vrJmWqWp9hpCAavJx+14eYssIlpWgvrgTfhOGQIEIwADDNLZXZYrlaI26rlNixKX
    0M9uu6vtq2otYudSny7SwOsUEh+3a4Y202r/NWeyBddQFX7dg/Ykspy6revsebRE
    Hce/4QE+1kIb/z1XGFP9lumG2k8t6PRCyn7nNAhHfTmtBscRN0dHYOP31n6SuOeG
    H0n9POj442EdD1vU4puUX6kmt+OGsyJiWGJHOjgIj1vIbSNyd2nsHMUSrzPy98sf
    fG85D0USDeGcfFVlSmSqAntGnDc2q7tfEgkmTOAphzMiwGiooHxGFMpeSLBzMYF5
    OQ==
    =dxYL
    -----END PGP PUBLIC KEY BLOCK-----</code></pre>
    Alternatively, I can be found on <a href="https://keybase.io/steveharris">Keybase</a>.
{% endblock %}
